cargo-features = ["edition2024"]

[package]
name = "audio_replacer"
version = "5.0.0"
description = "Easily dub video game voice-overs"
authors = ["Shob3r"]
edition = "2024"
license = "BSD-3-Clause"

[lib]
name = "audio_replacer_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.3.1", features = [] }

[dependencies]
tauri = { version = "2.7.0", features = ["protocol-asset", "tray-icon"] }
tauri-plugin-opener = "2.4.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.142"
futures-lite = "2.6.1"
tauri-plugin-os = "2.3.0"
tauri-plugin-fs = "2.4.1"
tauri-plugin-shell = "2"
walkdir = "2.5.0"
whisper-rs = { git = "https://github.com/ChakornK/whisper-rs", version = "0.14.3" } # This fork fixes an issue with audio transcription times taking 10x longer on release builds than on debug builds
hound = "3.5.1"
tauri-plugin-log = {version = "2", features = ["colored"] }
tauri-plugin-process = "2.3.0"
tauri-plugin-upload = "2.3.1"
tauri-plugin-dialog = "2.3.2"
tauri-plugin-drpc = "0.1.6"
num_cpus = "1.17.0"

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
tauri-plugin-global-shortcut = "2.3.0"
tauri-plugin-single-instance = "2.3.2"
tauri-plugin-updater = "2"
