.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.idea/
.vscode/

# Additional files that get downloaded on project setup
src-tauri/binaries/*

# The rust-analyser extension is being funny and generating a target folder in the project root. Ignore it
target