# So it turns out the gold gitignore I was using previously completely prevented my project from building due to it excluding the folder when pushing to the project repo. 
# I think I got it fixed now
# For this project, only three folders have to be excluded:
# 1. Builds (Bin)
# 2. Nuget Packages (Obj)
# 3. Visual Studio Settings folder (.vs)
# 4. JetBrains ide configuration folder (.idea)
# 5. Code signing certificate (A .pfx file)
# Whoever made that previous GitIgnore has it out for me I swear

[Bb]in/
[Oo]bj/
.vs/
.idea/
*.pfx