@import "tailwindcss";
@import '@fontsource/material-icons';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/lexend';


@theme {
    --color-menubar-light: #dedede;
    --color-bg-light: #e0e0e0;

    --color-menubar-dark: #252525;
    --color-bg-dark: #141414;
    
    --font-icons: 'Material Icons', sans-serif;
    --font-inter: 'Inter Variable', sans-serif; 
    --font-lexend: 'Lexend Variable', sans-serif;
}

.menu-item {

}

.menu-item:hover {

}
