@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "@fontsource/work-sans";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: "dark";
}

@theme {
  /* Light Mode */
  --color-primary: oklch(0.97 0 0);
  --color-secondary: oklch(1 0 0);
  --color-tertiary: oklch(0.94 0 0);

  /* Dark Mode */
  --color-primary-d: oklch(0.1955 0.0051 325.78);
  --color-secondary-d: oklch(0.2423 0.0048 325.72);
  --color-tertiary-d: oklch(0.3042 0.0051 325.78);

  /* Shared Dark/Light Mode colours */
  --color-accent: oklch(0.5998 0.1398 289.83);
  --color-accent-secondary: oklch(0.7645 0.1205 289.7);
  --color-accent-tertiary: oklch(0.1857 0.0223 292.42);
  --color-accent-shadow: oklch(0.7645 0.1205 289.7 / 20%);

  --color-success: oklch(0.67 0.1732 143.19);
  --color-success-shadow: oklch(0.7227 0.2058 142.98 / 20%);

  --color-warning: oklch(0.7072 0.1791 46.94);
  --color-warning-shadow: oklch(0.7072 0.1791 46.94 / 20%);

  --color-error: oklch(0.5506 0.1828 29.12);
  --color-error-shadow: oklch(0.5506 0.1828 29.12 / 20%);

  --color-info: oklch(0.6343 0.1337 240.73);
  --color-info-shadow: oklch(0.6343 0.1337 240.73 / 20%);

  --color-progress: oklch(0.5279 0.2131 321.35);
  --color-progress-shadow: oklch(0.5279 0.2131 321.35 / 20%);

  --color-navigation-hover: oklch(0.3042 0.0051 325.78);
  --color-navigation-focus: oklch(1 0 0 / 10%);
  --color-navigation-focus-shadow: oklch(0.1929 0.0048 325.72 / 60%);
}

* {
  font-family: "Work Sans";
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.home-page-card {
  @apply p-4 rounded-lg dark:bg-secondary-d bg-secondary min-w-100 w-auto min-h-100 dark:border-accent transition border-2;
}


.media-control-button {
  @apply transition p-0.5;
}

.notification-overlay {
  position: fixed !important; 
  top: 1em;
  left: 50%;
  translate: -50%, 0;
  align-content: center;
}

.nav-btn {
  @apply transition;
  width: 10rem;
  border-radius: 5px;
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  column-gap: calc(0.25rem * 2.25);
  margin-bottom: 3px;
  z-index: 1024; /* Ensures that the notification overlay will be rendered in front of everything */
}

.nav-btn:hover {
  background-color: oklch(0.3042 0.0051 325.78);
  box-shadow: none;
}

.nav-btn:focus {
  background-color: oklch(1 0 0 / 10%);
  box-shadow: inset 0px 0px 1em oklch(0.1929 0.0048 325.72 / 60%);
}
