@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@fontsource/material-icons";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/lexend";

@theme {
  /*Light Mode*/  
  --color-primary-light: rgb(114 81 136);
  --color-surface-tint-light: rgb(114 81 136);
  --color-on-primary-light: rgb(255 255 255);
  --color-primary-container-light: rgb(243 218 255);
  --color-on-primary-container-light: rgb(89 58 111);
  --color-secondary-light: rgb(103 90 110);
  --color-on-secondary-light: rgb(255 255 255);
  --color-secondary-container-light: rgb(239 220 245);
  --color-on-secondary-container-light: rgb(79 66 86);
  --color-tertiary-light: rgb(129 81 84);
  --color-on-tertiary-light: rgb(255 255 255);
  --color-tertiary-container-light: rgb(255 218 219);
  --color-on-tertiary-container-light: rgb(102 59 62);
  --color-error-light: rgb(186 26 26);
  --color-on-error-light: rgb(255 255 255);
  --color-error-container-light: rgb(255 218 214);
  --color-on-error-container-light: rgb(147 0 10);
  --color-background-light: rgb(255 247 253);
  --color-on-background-light: rgb(30 26 32);
  --color-surface-light: rgb(255 247 253);
  --color-on-surface-light: rgb(30 26 32);
  --color-surface-variant-light: rgb(234 223 234);
  --color-on-surface-variant-light: rgb(75 69 77);
  --color-outline-light: rgb(124 117 126);
  --color-outline-variant-light: rgb(205 195 206);
  --color-shadow-light: rgb(0 0 0);
  --color-scrim-light: rgb(0 0 0);
  --color-inverse-surface-light: rgb(51 47 53);
  --color-inverse-on-surface-light: rgb(247 238 246);
  --color-inverse-primary-light: rgb(223 184 247);
  --color-primary-fixed-light: rgb(243 218 255);
  --color-on-primary-fixed-light: rgb(42 12 64);
  --color-primary-fixed-dim-light: rgb(223 184 247);
  --color-on-primary-fixed-variant-light: rgb(89 58 111);
  --color-secondary-fixed-light: rgb(239 220 245);
  --color-on-secondary-fixed-light: rgb(34 23 41);
  --color-secondary-fixed-dim-light: rgb(210 193 217);
  --color-on-secondary-fixed-variant-light: rgb(79 66 86);
  --color-tertiary-fixed-light: rgb(255 218 219);
  --color-on-tertiary-fixed-light: rgb(51 16 20);
  --color-tertiary-fixed-dim-light: rgb(244 183 186);
  --color-on-tertiary-fixed-variant-light: rgb(102 59 62);
  --color-surface-dim-light: rgb(224 215 223);
  --color-surface-bright-light: rgb(255 247 253);
  --color-surface-container-lowest-light: rgb(255 255 255);
  --color-surface-container-low-light: rgb(250 241 249);
  --color-surface-container-light: rgb(244 235 243);
  --color-surface-container-high-light: rgb(238 230 237);
  --color-surface-container-highest-light: rgb(233 224 232);

  /* Dark Mode */
  --color-primary-dark: rgb(223 184 247);
  --color-surface-tint-dark: rgb(223 184 247);
  --color-on-primary-dark: rgb(65 35 86);
  --color-primary-container-dark: rgb(89 58 111);
  --color-on-primary-container-dark: rgb(243 218 255);
  --color-secondary-dark: rgb(210 193 217);
  --color-on-secondary-dark: rgb(56 44 63);
  --color-secondary-container-dark: rgb(79 66 86);
  --color-on-secondary-container-dark: rgb(239 220 245);
  --color-tertiary-dark: rgb(244 183 186);
  --color-on-tertiary-dark: rgb(76 37 40);
  --color-tertiary-container-dark: rgb(102 59 62);
  --color-on-tertiary-container-dark: rgb(255 218 219);
  --color-error-dark: rgb(255 180 171);
  --color-on-error-dark: rgb(105 0 5);
  --color-error-container-dark: rgb(147 0 10);
  --color-on-error-container-dark: rgb(255 218 214);
  --color-background-dark: rgb(22 18 23);
  --color-on-background-dark: rgb(233 224 232);
  --color-surface-dark: rgb(22 18 23);
  --color-on-surface-dark: rgb(233 224 232);
  --color-surface-variant-dark: rgb(75 69 77);
  --color-on-surface-variant-dark: rgb(205 195 206);
  --color-outline-dark: rgb(150 142 152);
  --color-outline-variant-dark: rgb(75 69 77);
  --color-shadow-dark: rgb(0 0 0);
  --color-scrim-dark: rgb(0 0 0);
  --color-inverse-surface-dark: rgb(233 224 232);
  --color-inverse-on-surface-dark: rgb(51 47 53);
  --color-inverse-primary-dark: rgb(114 81 136);
  --color-primary-fixed-dark: rgb(243 218 255);
  --color-on-primary-fixed-dark: rgb(42 12 64);
  --color-primary-fixed-dim-dark: rgb(223 184 247);
  --color-on-primary-fixed-variant-dark: rgb(89 58 111);
  --color-secondary-fixed-dark: rgb(239 220 245);
  --color-on-secondary-fixed-dark: rgb(34 23 41);
  --color-secondary-fixed-dim-dark: rgb(210 193 217);
  --color-on-secondary-fixed-variant-dark: rgb(79 66 86);
  --color-tertiary-fixed-dark: rgb(255 218 219);
  --color-on-tertiary-fixed-dark: rgb(51 16 20);
  --color-tertiary-fixed-dim-dark: rgb(244 183 186);
  --color-on-tertiary-fixed-variant-dark: rgb(102 59 62);
  --color-surface-dim-dark: rgb(22 18 23);
  --color-surface-bright-dark: rgb(60 56 62);
  --color-surface-container-lowest-dark: rgb(16 13 18);
  --color-surface-container-low-dark: rgb(30 26 32);
  --color-surface-container-dark: rgb(34 30 36);
  --color-surface-container-high-dark: rgb(45 41 46);
  --color-surface-container-highest-dark: rgb(56 51 57);

  --font-icons: "Material Icons", sans-serif;
  --font-inter: "Inter Variable", sans-serif;
  --font-lexend: "Lexend Variable", sans-serif;
}
